html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;

}

.section-title {
  margin-bottom: 50px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.container {
  max-width: 1220px;
  padding: 0px 10px;
  margin: 0 auto;
}

.header {
  background-color: #151515;
}

.header-main {
  background-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 40px;
  padding-bottom: 45px;
}

.menu__list {
  display: flex;
  gap: 35px
}

.menu__list-link {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.menu__list-link--active {
  color: #0066FF;
}

.main {
  flex-grow: 1;

}

.top {
  color: #fff;
  text-align: center;
  padding-top: 247px;
  padding-bottom: 50px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 5;

}

.title {

  padding-bottom: 40px;
  font-size: 96px;
  font-weight: 700;
}

.top__link {
  background-color: #151515;
  padding: 23px;
  max-width: 430px;
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
}


.swiper::after {
  content: '';
  background-color: rgba(21, 21, 21, .3);
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* делаем затемнение картинки */

}



.swiper-pagination-bullet {
  width: 120px;
  height: 3px;
  background-color: #151515;
  border-radius: 0;
  opacity: 1;
  /* margin: 0px 15px !important; */
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0px 15px;
}

/* or use !important */


.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 50px;
}

.swiper-pagination-bullet-active {
  height: 6px;
  background-color: #fff;
  border-radius: 0;
}

.swiper-slide {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.why-lease {
  padding: 150px 0px;
}

.why-lease__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.why-lease__text {
  text-align: left;
}

.why-lease__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  text-align: center;
}

.why-lease__img {
  margin-bottom: 30px;
}

.how-does {
  padding-bottom: 150px;
}

.how-does__inner {
  max-width: 600px;
  margin: 0 auto;
}

.how-does__title {
  font-size: 24px;
  font-weight: 700px;
  padding-top: 50px;
}

.how-does__list {
  padding: 50px 0 70px;
  counter-reset: myCounter;
}

.how-does__item {
  list-style-type: none;
  width: 270px;
  position: relative;
  margin-left: auto;
  box-sizing: content-box;
  padding: 19px 0 19px 240px;
  min-height: 63px;
}

.how-does__item+.how-does__item {
  margin-top: 40px;
}

.how-does__item::before {
  counter-increment: myCounter;
  content: counter(myCounter);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 700;
  background-color: #0066FF;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
}

.video {
  padding-bottom: 150px;

}

.video__title {
  margin-bottom: 20px;
}

.video__text {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}

.video__content {
  display: inline-block;
}

.important {
  padding-bottom: 150px;
}

.important__title {
  margin-bottom: 20px;
}

.important__text {
  max-width: 580px;
  margin: 0 auto 50px;
}

.important__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.important__item-img {
  margin-bottom: 20px;

}

.contacts {
  padding: 100px 0 150px;
}

.contacts__title {
  margin-bottom: 20px;
}

.contscts__text {
  margin-bottom: 50px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding: 0 100px;
}

.form {
  margin: 0 auto;
  max-width: 580px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.form__textarea {
  width: 100%;
}

.form__input {
  display: inline-block;
  width: 270px;
  padding: 18px 20px;
  border: 1px solid #0066FF;
  margin-bottom: 50px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: #151515;
  outline: none;
}

.form__input::placeholder,
.form__textarea::placeholder {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: #151515;
  opacity: 0.5;
}

.form__textarea {
  resize: none;
  border: 1px solid #0066FF;
  padding: 28px 20px;
  height: 291px;
  outline: none;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: #151515;
  margin-bottom: 50px;
}

.form__btn {
  text-transform: uppercase;
  background-color: #151515;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  padding: 13px 61px;
  margin: 0 auto;
}

.blog {
  padding-bottom: 150px;
}


.blog__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-bottom: 70px;
}


.blog__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog__item-img {
  margin-bottom: 30px;
  width: 100%;
}


.blog__item-title {
  flex-basis: 460px;
  font-size: 24px;
  font-weight: 700;
}

.blog__item-link {
  color: #fff;
  background-color: #0066FF;
  padding: 4px 20px;
}

.showmore-link {
  text-transform: uppercase;
  background-color: #151515;
  color: #fff;
  font-size: 16px;
  padding: 13px;
  width: 225px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.choose {
  padding: 100px 0px 150px;
}

.tabs__btn {
  padding: 0px 150px 100px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.tabs__btn-item {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

.tabs__btn-item--active {
  color: #0066FF;
}

.tabs__content-item {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px 40px;
  margin-bottom: 70px;
}


.tabs__content-item.tabs__content-item--active {
  display: grid;
}

.card {
  text-align: center;
  border: 1px solid #0066FF;
}


.card__img {
  margin-bottom: 20px;
  border: 1px solid #0066FF;
  width: 100%;
}

.card__content {
  padding: 0 5px;
  border-bottom: 1px solid #0066FF;

}


.card__title {
  font-size: 24px;
  font-weight: 700px;
  margin-bottom: 20px;

}

.card__price {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

.card__text {
  margin-bottom: 16px;
}


.card__link {
  color: #0066FF;
  display: inline-block;
}







.footer {
  background-color: #151515;
  padding: 50px 0px 32px;
  color: #fff;


}

.footer__menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.footer__menu-list {
  max-width: 225px;
}

.footer__menu-title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
}

.footer__menu-item+.footer__menu-item {
  padding-top: 20px;
}

.app {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
}

.footer__copy {
  max-width: 806px;
  margin: 0 auto 30px;
  text-align: center;
  font-size: 12px;
}

.copy__nav-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.menu__btn {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
}

.menu__btn span {
  height: 2px;
  width: 100%;
  background-color: #fff;
}

@media(max-width:1180px) {
  .important__list {
    gap: 30px 20px;
  }

  .important__item-img {
    width: 100%;
  }

  .tabs__content-item {
    display: none;
    grid-template-columns: repeat(3, 1fr)
  }
}



@media(max-width:1040px) {
  .video__content {
    width: 100%;
  }

  .tabs__btn {
    padding: 0 0 50px;
    gap: 20px;
  }
}



@media(max-width:860px) {

  .menu__btn {
    display: flex;

  }

  .header__inner {
    align-items: flex-start;
  }

  .menu__btn,
  .logo {
    position: relative;
    z-index: 10;
  }


  .menu__list {
    position: absolute;
    z-index: 5;
    height: 100vh;
    background-color: #151515;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    padding-top: 200px;
    transform: translateY(-100%);
    transition: transform .7s ease;
  }

  .menu__list.menu__list--active {
    transform: translateY(0%);
  }

  .why-lease__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }


  .important__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .tabs__content-item {
    display: none;
    grid-template-columns: repeat(2, 1fr)
  }


}

@media(max-width:768px) {

  .title {
    font-size: 70px;
  }

  .top__link {
    font-size: 28px;
    padding: 16px;
    max-width: 360px;

  }

  .swiper-pagination-bullet {
    width: 60px;
  }

  .swiper-pagination-bullet-active {
    height: 4px;
  }

  .footer__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .footer__menu-list {
    justify-self: center;
    text-align: center;
  }

  .video__content {
    height: 400px;
  }

}

@media(max-width:650px) {
  .tabs__content-item {
    grid-template-columns: repeat(1, 1fr);
  }

  .tabs__btn-item {
    font-size: 18px;
  }

  .blog__items {
    grid-template-columns: repeat(1, 1fr);
  }

  .contacts {
    padding: 50px 0;
  }

  .form__input {
    width: 100%;
    margin-bottom: 30px;
  }

  .form__textarea {
    margin-bottom: 30px;
  }

  .contscts__text {
    padding: 0;
  }

}


@media(max-width:540px) {
  .title {
    font-size: 60px;
  }

  .section-title {
    font-size: 34px;
  }

  .top__link {
    font-size: 24px;
    max-width: 310px;

  }

  .swiper-pagination-bullet {
    width: 35px;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0px 10px;
  }

  .why-lease,
  .choose {
    padding: 50px 0px;
  }



  .why-lease__list {
    grid-template-columns: repeat(1, 1fr);

  }


  .how-does__list {
    padding: 30px 0 40px;
  }

  .how-does__item {
    padding: 19px 0;
    margin-right: auto;
    padding: 65px 0 19px 0;
  }

  .how-does__item::before {
    right: 0;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    font-size: 32px;

  }

  .how-does__item+.how-does__item {
    margin-top: 30px;
  }

  .how-does,
  .video,
  .blog {
    padding-bottom: 50px;

  }

  .video__content {
    height: 200px;
  }

  .important__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .app,
  .copy__nav-list {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .blog__item-title {
    margin-bottom: 10px;
  }

  .blog__item-link {
    margin-left: auto;
  }

  .tabs__btn {
    flex-direction: column;
  }

  .tabs__content-item {
    gap: 40px;
  }

}


@media(max-width:440px) {}